{{#createError}}
{{.}}
{{/createError}}
<form class="" action="/api/create" method="post">
  <input type="text" name="title" placeholder="title"><br>
  <label for="body">create snippet</label><br>
  <textarea name="body" rows="8" cols="80"></textarea><br>
  <input type="text" name="notes" placeholder="notes"><br>
  <input type="text" name="language" placeholder="language"><br>
  <button type="submit" name="button">submit</button>
</form>
