<form class="" action="/api/login" method="post">
  <label for="username">username</label>
  <input type="text" name="username" placeholder="username">
  <label for="password">password</label>
  <input type="password" name="password" placeholder="password">
  <button type="submit" name="button">submit</button>
</form>
<a href="/api/signup">sign up here</a>
