<form class="" action="/api/signup" method="post">
  <label for="newusername">create new username</label>
  <input type="text" name="newusername" placeholder="username">
  <label for="newpassword">create new password</label>
  <input type="password" name="newpassword" placeholder="password">
  <button type="submit" name="button">submit</button>
</form>
