<h1>language specific snippets</h1>
{{#userlang}}
<div class="userSnippet">
  <p>{{body}}</p>
  <p>snippet notes: {{notes}}</p>
  <p>snippet language: {{language}}</p>
<div class="star">
  <form class="" action="/api/star/{{id}}" method="post">
    <button type="submit" name="button">star</button>
  </form>
</div>
</div>
{{/userlang}}
