{{#snippets}}
<div class="allLangSnippet">
  <form class="" action="/api/view/snippet/{{id}}" method="get">
    <button type="submit" name="button" onclick="window.location='/api/view/snippet/{{id}}';">veiw snippet</button>
  </form>

  <p>{{body}}</p>
  <p>snippet notes: {{notes}}</p>
  <p>snippet language: {{language}}</p>
<div class="star">
  <form class="" action="/api/star/{{id}}" method="post">
    <button type="submit" name="button">star</button>
  </form>
</div>
<form class="" action="/api/create/tag/{{id}}" method="post">
  <label for="tag">create a new tag</label><br>
  <input type="text" name="tag" placeholder="tags">
  <button type="submit" name="button">create tag</button>
</form>
</div>
{{/snippets}}
